<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="StoreDbContext" connectionString="Data Source=ADV-DSK-01;Initial Catalog=storeapptest_1;User ID=sa;Password='Qwerty1;';MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="StoreDbContext" connectionString="Data Source=SQL5016.Smarterasp.net;Initial Catalog=DB_9CAB86_storeapptest;User ID=DB_9CAB86_storeapptest_admin;Password=sd1028glB;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="StoreDbContext" connectionString="Data Source=SQL5016.Smarterasp.net;Initial Catalog=DB_9CB99F_storeapptest;User Id=DB_9CB99F_storeapptest_admin;Password=Qwerty123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!--<add name="StoreDbContext" connectionString="Data Source=appsserver.database.windows.net,1433;Initial Catalog=storeapptest;User ID=deniskozlov@appsserver;Password='sd1028glB;';Encrypt=True;TrustServerCertificate=False;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="xpf.printing" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=|DataDirectory|/ExportService.mdb;user id=Admin;password=;" />-->
    <!--<add name="xpf.printing" connectionString="XpoProvider=MSSqlServer;Data Source=appsserver.database.windows.net,1433;Initial Catalog=reportsdb;User ID=deniskozlov@appsserver;Password=&quot;sd1028glB;&quot;;Encrypt=True;TrustServerCertificate=False;Persist Security Info=true;" />-->
    <!--<add name="xpf.printing" connectionString="XpoProvider=MSSqlServer;Data Source=ADV-DSK-01;Initial Catalog=reportsdb;User ID=sa;Password=&quot;Qwerty1;&quot;;Encrypt=True;TrustServerCertificate=False;Persist Security Info=true;" />-->

    <!--<add name="xpf.printing" connectionString="XpoProvider=MSSqlServer;Data Source=(localdb)mssqllocaldb;User ID=userid;Password=userpassword;Initial Catalog=database;Persist Security Info=true" />-->

  </connectionStrings>
  <!--providerName="System.Data.EntityClient"-->
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="ru-RU"/>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime />
  </system.web>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <contexts>
      <context type="StoreAppTest.Web.DataModel.TestComtext"/>
    </contexts>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Kent.Boogaart.KBCsv" publicKeyToken="cc96fa93a217f7a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
       <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <!--<baseAddressPrefixFilters>
        <add prefix="http://storeapptest.azurewebsites.net"/>
      </baseAddressPrefixFilters>-->
    </serviceHostingEnvironment> 
      
    <bindings>
      <basicHttpBinding>
        <binding name="ExportServiceBinding" maxReceivedMessageSize="4194304" transferMode="Streamed">
          <readerQuotas maxArrayLength="4194304" />
        </binding>
        <binding name="ReportServiceBinding" maxReceivedMessageSize="4194304" transferMode="Streamed">
          <readerQuotas maxArrayLength="4194304" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="ExportServiceRestBinding" transferMode="Streamed" />
        <binding name="ReportServiceRestBinding" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="DebugEnabled" name="StoreAppTest.Web.StoreAppDataService" />
      <service behaviorConfiguration="ExportServiceBehavior" name="StoreAppTest.Web.StoreExportService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ExportServiceBinding" contract="DevExpress.Xpf.Printing.Service.IExportService" />
        <endpoint address="rest" behaviorConfiguration="ExportServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="ExportServiceRestBinding" contract="DevExpress.Xpf.Printing.Service.IExportServiceRest" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ReportServiceBehavior" name="StoreAppTest.Web.StoreAppReportService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ReportServiceBinding" contract="DevExpress.XtraReports.Service.IReportService" />
        <endpoint address="rest" behaviorConfiguration="ReportServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="ReportServiceRestBinding" contract="DevExpress.Xpf.Printing.Service.IExportServiceRest" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!--<host>
        <baseAddresses>        
          <add baseAddress="http://storeapptest.azurewebsites.net/" /> 
        </baseAddresses>
        </host>-->
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ExportServiceRestBehavior">
          <webHttp />
        </behavior>
        <behavior name="ReportServiceRestBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DebugEnabled">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ExportServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ReportServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    
    <!--<behaviors>
    <serviceBehaviors>
      <behavior name="metadataBehavior">
        <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
        <serviceDebug includeExceptionDetailInFaults="False" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
  <services>
    <service name="WcfDataService1.svc" behaviorConfiguration="metadataBehavior">
      <endpoint address="" binding="basicHttpBinding" contract="IMetadataExchange"/>
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    </service>
    <service name="StoreAppDataService.svc" behaviorConfiguration="metadataBehavior">
      <endpoint address="" binding="basicHttpBinding" contract="IMetadataExchange"/>
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    </service>
  </services>-->
  </system.serviceModel>
</configuration>