<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://storeapptest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>storeapptest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>storeapptest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$storeapptest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StoreDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=appsserver.database.windows.net,1433;Initial Catalog=storeapptest;Integrated Security=False;Persist Security Info=True;User ID=deniskozlov@appsserver;Password=&quot;sd1028glB;&quot;;Encrypt=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StoreAppTest.Web.DataModel.StoreDbContext, StoreAppTest.DataModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="xpf.printing" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="XpoProvider=MSSqlServer;Data Source=appsserver.database.windows.net,1433;Initial Catalog=reportsdb;User ID=deniskozlov@appsserver;Password=&quot;sd1028glB;&quot;;Encrypt=True;TrustServerCertificate=False;Persist Security Info=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\xpf.printing_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="XpoProvider=MSSqlServer;Data Source=appsserver.database.windows.net,1433;Initial Catalog=reportsdb;User ID=deniskozlov@appsserver;Password=&quot;sd1028glB;&quot;;Encrypt=True;TrustServerCertificate=False;Persist Security Info=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>True</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StoreDbContext-Web.config Connection String">
      <ParameterValue>Data Source=appsserver.database.windows.net,1433;Initial Catalog=storeapptest;Integrated Security=False;Persist Security Info=True;User ID=deniskozlov@appsserver;Password="sd1028glB;";Encrypt=True;Application Name=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>